<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <h1>{{asyncTitle}}</h1>
            <input type="text" class="form-control" [(ngModel)]="searchCar">
            <button class="btn btn-primary" (click)="addCar()">Добавить</button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let car of cars | carFilter: searchCar; let i = index">{{(i+1)+'-'+car.name}}</li>
            </ul>
            <!--<h2>{{num | appPow: 3:'='}}</h2>-->
        </div>
    </div>
</div>
<!--<h3 [appBackground]="'blue'" [defaultColor]="'transparent'">{{headerText}}</h3>-->
<!--<ul class="list-group">-->
<!--<li *ngFor="let item of items" (click)="onClicks(item)" class="list-group-item">-->
<!--{{item}}-->
<!--</li>-->
<!--</ul>-->

<!--<div [ngSwitch]="current">-->
<!--<p *ngSwitchCase="1">1</p>-->
<!--<p *ngSwitchCase="2">2</p>-->
<!--<p *ngSwitchCase="3">3</p>-->
<!--<p *ngSwitchDefault> Default</p>-->
<!--</div>-->
<!--<h2>{{name}}</h2>-->
<!--&lt;!&ndash;Пайпы&ndash;&gt;-->
<!--&lt;!&ndash;Только строковые типв данных&ndash;&gt;-->
<!--<h2>{{name | lowercase}}</h2>-->
<!--<h2>{{name | uppercase}}</h2>-->
<!--<h2>{{name | slice:0:3 | uppercase}}</h2>-->
<!--&lt;!&ndash;Числовые пайпы&ndash;&gt;-->
<!--<h2>{{ pi | number:'2.2' }}</h2>-->
<!--&lt;!&ndash;Вывод валют&ndash;&gt;-->
<!--<h2>{{ money | currency:'EUR' }}</h2>-->
<!--&lt;!&ndash;Вывод даты&ndash;&gt;-->
<!--<h2>{{ date | date:'shortDate' }}</h2>-->
<!--&lt;!&ndash;Преобразовывать в проценты&ndash;&gt;-->
<!--<h2>{{ amount | percent }}</h2>-->
<!--&lt;!&ndash;Для дебага&ndash;&gt;-->
<!--<h2>{{ object | json }}</h2>-->